# OpenRouter Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_SITE_URL=http://localhost:3000
OPENROUTER_SITE_NAME=RAG EXAMPLE

# Models 
NLP_MODEL='google/gemma-3-27b-it:free'

# Embeddings (using Transformers.js locally)
EMBEDDING_MODEL='Xenova/all-MiniLM-L6-v2'

# Neo4J
NEO4J_USER=user
NEO4J_PASSWORD=password
NEO4J_URI=bolt://localhost:7687
NEO4J_DATABASE=neo4j

# Vector search threshold
VECTOR_SEARCH_THRESHOLD=0.9